.sidebar{
    flex : 1;
    background-color: rgb(248, 248, 255);
    height: calc(100vh - 50px);
    position: sticky;
    top : 50px;
}
.sidebarWrapper{
    padding: 20px;
    color: #555;
}
.sidebarMenu{
    margin-bottom: 10px;
}
.sidebarTitle{
    font-size: 13px;
    color: rgb(179, 179, 179);
}
.sidebarList{
    list-style: none;
    padding: 5px;
}
.sidebarListItem{
  padding: 5px;
  cursor: pointer;   
  display: flex;
  align-items: center;
  
  border-radius: 10px;
}

.sidebarListItem.active,         /*If active is added to the className then change the bg-color*/
.sidebarListItem:hover{          /*On hover change the bg color*/
    background-color: rgb(232, 232, 255);
}

.listIcon{
    margin-right: 5px;
    font-size: 20px !important;  /*To change the size of the materialUI icons we have to add !important*/
}